body{
    margin: 0;
    font-family: open-sans, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    


    
} 
#header h1{
    padding-top: 2rem;
}
#logo1{
    text-align:left;
    padding-left: 2rem;
    color: white;
}
#escrito{
    color: white;
    justify-content: center;
    text-align: center;
    width: 20rem;
    
    
}
#logo2{
    width: 19rem;
    text-align: center;
    margin-left: 2rem;
    color: white;
    padding-bottom: 1rem;
    
}
.top{
    background-image: url(../img/Header\ Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
    
}
.button{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    padding-bottom: 2rem;
}
.button1{
    color: black;
    background-color: white;
    border:1px solid black;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 15rem;
    height: 2rem;
}
.button2{
    color:white;
    background-color: black;
    border:1px solid black;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 15rem;
    height: 2rem;
}


img{
    width: 18rem;
    padding-top: 1rem;
    
    
}
h1{
    font-weight: bold;
    padding-bottom: 1rem ;
    text-transform: uppercase;
}
.text ,.text1{
    width: 16rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 3.6rem;
   
    
    
   
}
.primeira{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.segunda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e2e2e2;
   
    
}

.terceira{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
   
}
.quarta{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e2e2e2;
   
}

.text1{
    padding-top: 2rem;
}
.footer{
    background-color: black;
    display: flex;
    flex-flow: row wrap; 

}
#discord{
   padding-left: 5rem;
   position: relative;
   top:1.5rem

}
#discor{
    padding-left: 12rem;
    position: relative;
    bottom: 1.3rem;
}
@media screen and (min-width:376px) {
   body{
    flex-flow: column wrap;
   }
   .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
   #logo1{
    text-align: center;
   }
   .top{
    justify-content: center;
    text-align: center;
   }
   .primeira{
    display: flex;
    flex-direction: row;
   }
   img{
    max-width: 100%;
   }
   
   .segunda{
    flex-direction: row;
   }
   .terceira{
    flex-direction: row;
    flex-wrap: wrap;
   }
   .quarta{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap:3rem
    
   }
   #escrito{
    margin-left: 22rem;
    width: 32rem;
    padding-bottom: 7rem;
   }
   .footer{
    justify-content: center;
   }
}

